.card {
  width: 700px;
  height: 700px;
  position: relative;
  float: left;
  left: 70px;
}
.logo {
  float: left;

  left: 10px;
  width: 150px;
  height: 140px;
}
.title {
  color: black;
}
.image {
  position: relative;

  display: block;
  clear: both;

  width: 450px;
  height: 450px;
}
.close {
  cursor: pointer;
  float: right;
  width: 50px;
}
.price {
  -moz-text-size-adjust: 120;
  font-weight: 500;
  font-size: 30px;
  display: inline;
}

.quantity {
  width: 500px;
  height: 50px;
}
.button {
  width: 120px;
  height: 40px;
  background-color: blueviolet;
  cursor: pointer;
}
